<a href="https://colab.research.google.com/github/Juan-MTG/cyp_2021/blob/main/Tarea_6_cyp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#PROBLEMA 3.2
band = True
sumser = 0
I = 2
while (I<= 1800):
  sumser += I
  print(f"{ I },",  end= " ")
  if band == True :
    band = False
    I +=3
  else:
    band = True
    I += 2
print("\n La suma de la serie es:" , sumser)

2, 5, 7, 10, 12, 15, 17, 20, 22, 25, 27, 30, 32, 35, 37, 40, 42, 45, 47, 50, 52, 55, 57, 60, 62, 65, 67, 70, 72, 75, 77, 80, 82, 85, 87, 90, 92, 95, 97, 100, 102, 105, 107, 110, 112, 115, 117, 120, 122, 125, 127, 130, 132, 135, 137, 140, 142, 145, 147, 150, 152, 155, 157, 160, 162, 165, 167, 170, 172, 175, 177, 180, 182, 185, 187, 190, 192, 195, 197, 200, 202, 205, 207, 210, 212, 215, 217, 220, 222, 225, 227, 230, 232, 235, 237, 240, 242, 245, 247, 250, 252, 255, 257, 260, 262, 265, 267, 270, 272, 275, 277, 280, 282, 285, 287, 290, 292, 295, 297, 300, 302, 305, 307, 310, 312, 315, 317, 320, 322, 325, 327, 330, 332, 335, 337, 340, 342, 345, 347, 350, 352, 355, 357, 360, 362, 365, 367, 370, 372, 375, 377, 380, 382, 385, 387, 390, 392, 395, 397, 400, 402, 405, 407, 410, 412, 415, 417, 420, 422, 425, 427, 430, 432, 435, 437, 440, 442, 445, 447, 450, 452, 455, 457, 460, 462, 465, 467, 470, 472, 475, 477, 480, 482, 485, 487, 490, 492, 495, 497, 500, 502, 505, 507, 510, 512, 515, 517, 520, 522, 525, 527, 530, 532, 535, 537, 540, 542, 545, 547, 550, 552, 555, 557, 560, 562, 565, 567, 570, 572, 575, 577, 580, 582, 585, 587, 590, 592, 595, 597, 600, 602, 605, 607, 610, 612, 615, 617, 620, 622, 625, 627, 630, 632, 635, 637, 640, 642, 645, 647, 650, 652, 655, 657, 660, 662, 665, 667, 670, 672, 675, 677, 680, 682, 685, 687, 690, 692, 695, 697, 700, 702, 705, 707, 710, 712, 715, 717, 720, 722, 725, 727, 730, 732, 735, 737, 740, 742, 745, 747, 750, 752, 755, 757, 760, 762, 765, 767, 770, 772, 775, 777, 780, 782, 785, 787, 790, 792, 795, 797, 800, 802, 805, 807, 810, 812, 815, 817, 820, 822, 825, 827, 830, 832, 835, 837, 840, 842, 845, 847, 850, 852, 855, 857, 860, 862, 865, 867, 870, 872, 875, 877, 880, 882, 885, 887, 890, 892, 895, 897, 900, 902, 905, 907, 910, 912, 915, 917, 920, 922, 925, 927, 930, 932, 935, 937, 940, 942, 945, 947, 950, 952, 955, 957, 960, 962, 965, 967, 970, 972, 975, 977, 980, 982, 985, 987, 990, 992, 995, 997, 1000, 1002, 1005, 1007, 1010, 1012, 1015, 1017, 1020, 1022, 1025, 1027, 1030, 1032, 1035, 1037, 1040, 1042, 1045, 1047, 1050, 1052, 1055, 1057, 1060, 1062, 1065, 1067, 1070, 1072, 1075, 1077, 1080, 1082, 1085, 1087, 1090, 1092, 1095, 1097, 1100, 1102, 1105, 1107, 1110, 1112, 1115, 1117, 1120, 1122, 1125, 1127, 1130, 1132, 1135, 1137, 1140, 1142, 1145, 1147, 1150, 1152, 1155, 1157, 1160, 1162, 1165, 1167, 1170, 1172, 1175, 1177, 1180, 1182, 1185, 1187, 1190, 1192, 1195, 1197, 1200, 1202, 1205, 1207, 1210, 1212, 1215, 1217, 1220, 1222, 1225, 1227, 1230, 1232, 1235, 1237, 1240, 1242, 1245, 1247, 1250, 1252, 1255, 1257, 1260, 1262, 1265, 1267, 1270, 1272, 1275, 1277, 1280, 1282, 1285, 1287, 1290, 1292, 1295, 1297, 1300, 1302, 1305, 1307, 1310, 1312, 1315, 1317, 1320, 1322, 1325, 1327, 1330, 1332, 1335, 1337, 1340, 1342, 1345, 1347, 1350, 1352, 1355, 1357, 1360, 1362, 1365, 1367, 1370, 1372, 1375, 1377, 1380, 1382, 1385, 1387, 1390, 1392, 1395, 1397, 1400, 1402, 1405, 1407, 1410, 1412, 1415, 1417, 1420, 1422, 1425, 1427, 1430, 1432, 1435, 1437, 1440, 1442, 1445, 1447, 1450, 1452, 1455, 1457, 1460, 1462, 1465, 1467, 1470, 1472, 1475, 1477, 1480, 1482, 1485, 1487, 1490, 1492, 1495, 1497, 1500, 1502, 1505, 1507, 1510, 1512, 1515, 1517, 1520, 1522, 1525, 1527, 1530, 1532, 1535, 1537, 1540, 1542, 1545, 1547, 1550, 1552, 1555, 1557, 1560, 1562, 1565, 1567, 1570, 1572, 1575, 1577, 1580, 1582, 1585, 1587, 1590, 1592, 1595, 1597, 1600, 1602, 1605, 1607, 1610, 1612, 1615, 1617, 1620, 1622, 1625, 1627, 1630, 1632, 1635, 1637, 1640, 1642, 1645, 1647, 1650, 1652, 1655, 1657, 1660, 1662, 1665, 1667, 1670, 1672, 1675, 1677, 1680, 1682, 1685, 1687, 1690, 1692, 1695, 1697, 1700, 1702, 1705, 1707, 1710, 1712, 1715, 1717, 1720, 1722, 1725, 1727, 1730, 1732, 1735, 1737, 1740, 1742, 1745, 1747, 1750, 1752, 1755, 1757, 1760, 1762, 1765, 1767, 1770, 1772, 1775, 1777, 1780, 1782, 1785, 1787, 1790, 1792, 1795, 1797, 1800,
 La suma de la serie es: 648720

In [16]:
#PROBLEMA 3.3
band = True
serie = 0
I = 1
N= float(input("valor de N: "))
while (I<= N):
  #print(f"{ 1/I },",  end= " ")
  if band == True :
    serie += 1/I
    band = False
    print("+ 1/",I)
  else:
    serie -= 1/I
    band = True
    print("- 1/",I)
  I+=1
 
print("\n La suma de la serie es:" , serie)

valor de N: 9
+ 1/ 1
- 1/ 2
+ 1/ 3
- 1/ 4
+ 1/ 5
- 1/ 6
+ 1/ 7
- 1/ 8
+ 1/ 9

 La suma de la serie es: 0.7456349206349207

In [12]:
#PROBLEMA 3.4 
NOM=0
SUE=0
NSUE=0
n=1
SUE= float(input( f"SUELDO 1:"))
while (SUE != -1 ):
  if SUE <1000:
   NSUE= SUE*1.15
  else:
   NSUE= SUE*1.12
  NOM += NSUE
  print(f"{NSUE}")
  n +=1
  SUE= float(input( f"SUELDO {n}:"))

print("Nomina: ", NOM)

SUELDO 1:855
983.2499999999999
SUELDO 2:760.32
874.3679999999999
SUELDO 3:1100.20
1232.2240000000002
SUELDO 4:614
706.0999999999999
SUELDO 5:2600
2912.0000000000005
SUELDO 6:817.50
940.1249999999999
SUELDO 7:1280.30
1433.9360000000001
SUELDO 8:687
790.05
SUELDO 9:-1
Nomina:  9872.053

In [21]:
#PROBLEMA 3.5
SUMPOS = 0 #Acumula números positivos
SUMOTR = 0 #Acumula números no positivos
CUEPOS = 0 #Cuenta los números positos
PROPOS = 0 #Promedio de números positivos
PROGEN = 0 #Promedio de números no positivos
N= int(input("Cantidad de números: "))
I= 1
while (I <= N):
  NUM= int(input("Número: "))
  if NUM > 0:
    SUMPOS += NUM
    CUEPOS +=1
  else:
    SUMOTR += NUM
  I += 1

PROGEN = (SUMPOS + SUMOTR)/N
PROPOS = (SUMPOS / CUEPOS)

print(f"Números positivos ingresados: {CUEPOS}")
print(f"Promedio de números positivos: {PROPOS}")
print(f"Promedio de todos los números: {PROGEN}")

Cantidad de números: 20
Número: 7
Número: 12
Número: 0
Número: 6
Número: 11
Número: -3
Número: 17
Número: 12
Número: 19
Número: 0
Número: 11
Número: 4
Número: -5
Número: -1
Número: 0
Número: 3
Número: 24
Número: 0
Número: 3
Número: -16
Números positivos ingresados: 12
Promedio de números positivos: 10.75
Promedio de todos los números: 5.2

In [18]:
#PROBLEMA 3.6
MAY= -10000
MEN= 10000
N= int(input("Cantidad de números: "))
i = 1
while (i <= N):
  NUM= int(input("Número: "))
  if (NUM>MAY):
    MAY=NUM
  elif (NUM<MEN):
    MEN=NUM
  i +=1
print(f" \n Número mayor: {MAY} \n Número menor: {MEN}")

Cantidad de números: 12
Número: 170
Número: 44
Número: 815
Número: 1700
Número: 38
Número: 140
Número: 380
Número: 1020
Número: 116
Número: 14
Número: 730
Número: 960

 Número mayor: 1700
 Número menor: 14

In [20]:
#PROBLEMA 3.7
CHI = 0
MED = 0
GRA = 0
N= int(input("Número total de ventas: "))
i=1
ve=1
while (i<=N):
  V= float(input(f"Venta {ve}: "))
  if (V<=200):
    CHI += 1
  else:
    if (V<400):
      MED += 1
    else:
      GRA += 1
  i += 1
  ve +=1

print(f"Ventas: \n De $200 o menos: {CHI}\n Menores de $400: {MED}\n De $400 o mayores: {GRA}")

Número total de ventas: 12
Venta 1: 180.25
Venta 2: 470.30
Venta 3: 150.25
Venta 4: 88.60
Venta 5: 230.15
Venta 6: 170.20
Venta 7: 40.30
Venta 8: 201.90
Venta 9: 60.32
Venta 10: 280.30
Venta 11: 15.70
Venta 12: 140.20
Ventas:
 De $200 o menos: 8
 Menores de $400: 3
 De $400 o mayores: 1

In [26]:
#PROBLEMA 3.8
NUM= int(input("Número a ingresar: "))
if (NUM > 0):
  while (NUM != 1):
    print(f"{NUM}")
    if ((-1)**NUM > 0):
      NUM = (NUM /2)
    else:
      NUM = (NUM*3)+1
  print(NUM)

else:
  print(f"{NUM} TIENE QUE SER UN ENTERO POSITIVO")

Número a ingresar: 25
25
76
38.0
19.0
58.0
29.0
88.0
44.0
22.0
11.0
34.0
17.0
52.0
26.0
13.0
40.0
20.0
10.0
5.0
16.0
8.0
4.0
2.0
1.0

In [61]:
#PROBLEMA 3.9
SERIE= 0
N= int(input("Número para la serie: "))
i=1
while (i<=N):
  SERIE = SERIE + (i**i)
  i = i + 1
print(f"La suma de la serie es : {SERIE}")

Número para la serie: 8
La suma de la serie es : 17650828

In [88]:
#PROBLEMA 3.9
SERIE= 0
N= int(input("Número para la serie: "))
i=1
for x in range(N): 
  SERIE = SERIE + (i**i)
  i = i + 1
print(f"La suma de la serie es : {SERIE}")

Número para la serie: 8
La suma de la serie es : 17650828

In [122]:
#PROBLEMA 3.10
PRI = 0
SEG = 1
SIG = 0

i = 3
while (i <= 180):
  SIG = (PRI + SEG)
  PRI = SEG 
  SEG = SIG
  i += 1
print(f"Término 180 : {SIG}")

Término 180 : 11463113765491467695340528626429782121

In [8]:
#PROBLEMA 3.10
#CON LA CAPACIDAD DE DEVOLVER CUALQUIER TÉRMINO-NÚMERO DE LA SERIE DE FIBONACCI
PRI = 0
SEG = 1
i = 3
TER= int(input("Término deseado: "))
if (TER==1):
  print("0")
elif (TER==2):
  print("1")
else:
  while (i <= TER):
    SIG = (PRI + SEG)
    PRI = SEG 
    SEG = SIG
    i += 1
  print(f"Término {TER}: {SIG}")

Término deseado: 180
Término 180: 11463113765491467695340528626429782121

In [9]:
#PROBLEMA 3.10
PRI = 0
SEG = 1
SIG = 0

#i = 3
for x in range (2,180) :
  SIG = (PRI + SEG)
  PRI = SEG 
  SEG = SIG
  #i += 1
print(f"Término 180 : {SIG}")

Término 180 : 11463113765491467695340528626429782121

In [11]:
#PROBLEMA 3.11
SUMV= 0
POR1= 0
POR2= 0
POR3= 0
POR4= 0
CAN1= 0
CAN2= 0
CAN3= 0
CAN4= 0
VOTO= int(input("VOTO: "))
while (VOTO != 0):
  if (VOTO == 1):
    CAN1 +=1
  elif (VOTO ==2):
    CAN2 +=1
  elif (VOTO ==3):
    CAN3 +=1
  elif (VOTO ==4):
    CAN4 +=1
  VOTO= int(input("VOTO: "))

SUMV= CAN1 + CAN2 + CAN3 + CAN4
POR1= (CAN1/SUMV)*100
POR2= (CAN2/SUMV)*100
POR3= (CAN3/SUMV)*100
POR4= (CAN4/SUMV)*100

print(f"VOTO CANDIDATO 1: {CAN1}  PORCENTAJE: %{POR1}")
print(f"VOTO CANDIDATO 2: {CAN2}  PORCENTAJE: %{POR2}")
print(f"VOTO CANDIDATO 3: {CAN3}  PORCENTAJE: %{POR3}")
print(f"VOTO CANDIDATO 4: {CAN4}  PORCENTAJE: %{POR4}")
print(f"\n CANTIDAD DE VOTANTES:  {SUMV}")

VOTO: 1
VOTO: 1
VOTO: 2
VOTO: 1
VOTO: 3
VOTO: 1
VOTO: 1
VOTO: 2
VOTO: 4
VOTO: 4
VOTO: 3
VOTO: 1
VOTO: 1
VOTO: 2
VOTO: 3
VOTO: 1
VOTO: 4
VOTO: 1
VOTO: 2
VOTO: 1
VOTO: 2
VOTO: 4
VOTO: 4
VOTO: 2
VOTO: 1
VOTO: 0
VOTO CANDIDATO 1: 11  PORCENTAJE: %44.0
VOTO CANDIDATO 2: 6  PORCENTAJE: %24.0
VOTO CANDIDATO 3: 3  PORCENTAJE: %12.0
VOTO CANDIDATO 4: 5  PORCENTAJE: %20.0

 CANTIDAD DE VOTANTES:  25

In [18]:
#PROBLEMA 3.12
N= 0
NUMEMP= 0 #Número del empleado
SUE= 0 #Sueldo del empleado
MASUE= 0 #Sueldo mayor de los empleados
MANUM= 0 #Número del empleado con mayor sueldo

N= int(input("Número de empleados: "))
i= 1 #contador
for i in range(N):
  NUMEMP= int(input("Número del empleado: "))
  SUE= float(input("Sueldo del empleado: "))
  if (SUE>MASUE):
    MASUE = SUE
    MANUM = NUMEMP
  i +=1
print(f" \n Número del empleado con mayor sueldo: {MANUM} \n Sueldo mayor: {MASUE}")

Número de empleados: 6
Número del empleado: 1235
Sueldo del empleado: 2580
Número del empleado: 1260
Sueldo del empleado: 1400
Número del empleado: 1325
Sueldo del empleado: 3600
Número del empleado: 1418
Sueldo del empleado: 2720
Número del empleado: 1650
Sueldo del empleado: 4120
Número del empleado: 1717
Sueldo del empleado: 1950

 Número del empleado con mayor sueldo: 1650
 Sueldo mayor: 4120.0

In [21]:
#PROBLEMA 3.13
ARNO= 0 #Acumulador-lluvias norte
ARCE= 0 #Acumulador-lluvias centro
ARSU= 0 #Acumulador-lluvias sur
MERSU= 50000 #Menor regristo del sur
MES= 0 #Mes menor-lluvia sur
RNO= 0 #Promedio mensual R.Norte
RCE= 0 #Promedio mensual R.Centro
RSU= 0 #Promedio mensual R.Sur
PRORCE= 0 #Promedio anual R.Centro
i=1

while (i<=12):
  RNO= float(input(f"R.NORTE---Promedio-mes {i}: "))
  RCE= float(input(f"R.CENTRO--Promedio-mes {i}: "))
  RSU= float(input(f"R.SUR-----Promedio-mes {i}: "))
  ARNO +=RNO 
  ARCE +=RCE 
  ARSU +=RSU 
  if (RSU<MERSU):
    MERSU = RSU 
    MES = i
  i +=1
''' CON SICLO "FOR":
J=1
for i in range (12):
  RNO= float(input(f"R.NORTE---Promedio-mes {J}: "))
  RCE= float(input(f"R.CENTRO--Promedio-mes {J}: "))
  RSU= float(input(f"R.SUR-----Promedio-mes {J}: "))
  ARNO +=RNO 
  ARCE +=RCE 
  ARSU +=RSU 
  if (RSU<MERSU):
    MERSU = RSU 
    MES = i
  i +=1
  J +=1'''
PRORCE= (ARCE/12)
print(f"PROMEDIO REGIÓN CENTRO: {PRORCE}")
print(f"MES CON MENOR LLUVIA REGIÓN SUR: {MES}")
print(f"---REGISTRO DEL MES: {MERSU}")

if (ARNO > ARCE):
  if (ARNO > ARSU):
    print("LA REGIÓN CON MAYOR LLUVIA ES LA REGIÓN NORTE")
  else:
    print("LA REGIÓN CON MAYOR LLUVIA ES LA REGIÓN SUR")
elif (ARCE > ARSU):
  print("LA REGIÓN CON MAYOR LLUVIA ES LA REGIÓN CENTRO")
else:
  print("LA REGIÓN CON MAYOR LLUVIA ES LA REGIÓN SUR")

R.NORTE---Promedio-mes 1: 80
R.CENTRO--Promedio-mes 1: 70
R.SUR-----Promedio-mes 1: 170
R.NORTE---Promedio-mes 2: 60
R.CENTRO--Promedio-mes 2: 85
R.SUR-----Promedio-mes 2: 100
R.NORTE---Promedio-mes 3: 120
R.CENTRO--Promedio-mes 3: 100
R.SUR-----Promedio-mes 3: 185
R.NORTE---Promedio-mes 4: 100
R.CENTRO--Promedio-mes 4: 90
R.SUR-----Promedio-mes 4: 88
R.NORTE---Promedio-mes 5: 70
R.CENTRO--Promedio-mes 5: 82
R.SUR-----Promedio-mes 5: 80
R.NORTE---Promedio-mes 6: 150
R.CENTRO--Promedio-mes 6: 130
R.SUR-----Promedio-mes 6: 122
R.NORTE---Promedio-mes 7: 100
R.CENTRO--Promedio-mes 7: 95
R.SUR-----Promedio-mes 7: 67
R.NORTE---Promedio-mes 8: 47
R.CENTRO--Promedio-mes 8: 38
R.SUR-----Promedio-mes 8: 55
R.NORTE---Promedio-mes 9: 95
R.CENTRO--Promedio-mes 9: 115
R.SUR-----Promedio-mes 9: 110
R.NORTE---Promedio-mes 10: 70
R.CENTRO--Promedio-mes 10: 62
R.SUR-----Promedio-mes 10: 83
R.NORTE---Promedio-mes 11: 100
R.CENTRO--Promedio-mes 11: 87
R.SUR-----Promedio-mes 11: 107
R.NORTE---Promedio-mes 12: 130
R.CENTRO--Promedio-mes 12: 103
R.SUR-----Promedio-mes 12: 148
PROMEDIO REGIÓN CENTRO: 88.08333333333333
MES CON MENOR LLUVIA REGIÓN SUR: 8
---REGISTRO DEL MES: 55.0
LA REGIÓN CON MAYOR LLUVIA ES LA REGIÓN SUR

In [34]:
#PROBLEMA 3.14
AP1= 0 #Acumuladores de boletos vendidos del tipo 1...5
AP2= 0
AP3= 0
AP4= 0
AP5= 0
RECAU= 0 #Acumla la recaudación total del estadio
PRE= 0 #Precio por total de voletos por venta

P1= float(input("Precio de boleto---LOCALIDAD 1: "))
P2= float(input("Precio de boleto---LOCALIDAD 2: "))
P3= float(input("Precio de boleto---LOCALIDAD 3: "))
P4= float(input("Precio de boleto---LOCALIDAD 4: "))
P5= float(input("Precio de boleto---LOCALIDAD 5: "))
CLAVE= int(input("\nCLAVE DE LOCALIDAD: "))
CANT= int(input("CANTIDAD DE BOLETOS: "))
j=1
while (CLAVE != (-1) and CANT != (-1)):
  print(f"VENTA {j}")
  if (CLAVE == 1):
    PRE= P1*CANT
    AP1 +=CANT
  elif (CLAVE == 2):
    PRE= P2*CANT
    AP2 +=CANT
  elif (CLAVE == 3):
    PRE= P3*CANT
    AP3 +=CANT
  elif (CLAVE == 4):
    PRE= P4*CANT
    AP4 +=CANT
  elif (CLAVE == 5):
    PRE= P5*CANT
    AP5 +=CANT
  print(f"CLAVE: {CLAVE} /// CANTIDAD: {CANT} /// PRECIO: {PRE}")
  RECAU +=PRE
  CLAVE= int(input("\nCLAVE DE LOCALIDAD: "))
  CANT= int(input("CANTIDAD DE BOLETOS: "))
  j +=1

print(f"CANTIDAD DE BOLETOS TIPO 1: {AP1}")
print(f"CANTIDAD DE BOLETOS TIPO 2: {AP2}")
print(f"CANTIDAD DE BOLETOS TIPO 3: {AP3}")
print(f"CANTIDAD DE BOLETOS TIPO 4: {AP4}")
print(f"CANTIDAD DE BOLETOS TIPO 5: {AP5}")
print(f"\nRECAUDACIÓN DEL ESTADIO: {RECAU}")

Precio de boleto---LOCALIDAD 1: 7.25
Precio de boleto---LOCALIDAD 2: 15.80
Precio de boleto---LOCALIDAD 3: 25
Precio de boleto---LOCALIDAD 4: 50
Precio de boleto---LOCALIDAD 5: 75

CLAVE DE LOCALIDAD: 2
CANTIDAD DE BOLETOS: 3
VENTA 1
CLAVE: 2 /// CANTIDAD: 3 /// PRECIO: 47.400000000000006

CLAVE DE LOCALIDAD: 3
CANTIDAD DE BOLETOS: 8
VENTA 2
CLAVE: 3 /// CANTIDAD: 8 /// PRECIO: 200.0

CLAVE DE LOCALIDAD: 2
CANTIDAD DE BOLETOS: 4
VENTA 3
CLAVE: 2 /// CANTIDAD: 4 /// PRECIO: 63.2

CLAVE DE LOCALIDAD: 1
CANTIDAD DE BOLETOS: 6
VENTA 4
CLAVE: 1 /// CANTIDAD: 6 /// PRECIO: 43.5

CLAVE DE LOCALIDAD: 4
CANTIDAD DE BOLETOS: 5
VENTA 5
CLAVE: 4 /// CANTIDAD: 5 /// PRECIO: 250.0

CLAVE DE LOCALIDAD: 1
CANTIDAD DE BOLETOS: 12
VENTA 6
CLAVE: 1 /// CANTIDAD: 12 /// PRECIO: 87.0

CLAVE DE LOCALIDAD: 2
CANTIDAD DE BOLETOS: 8
VENTA 7
CLAVE: 2 /// CANTIDAD: 8 /// PRECIO: 126.4

CLAVE DE LOCALIDAD: 5
CANTIDAD DE BOLETOS: 3
VENTA 8
CLAVE: 5 /// CANTIDAD: 3 /// PRECIO: 225.0

CLAVE DE LOCALIDAD: 2
CANTIDAD DE BOLETOS: 7
VENTA 9
CLAVE: 2 /// CANTIDAD: 7 /// PRECIO: 110.60000000000001

CLAVE DE LOCALIDAD: 3
CANTIDAD DE BOLETOS: 14
VENTA 10
CLAVE: 3 /// CANTIDAD: 14 /// PRECIO: 350.0

CLAVE DE LOCALIDAD: 4
CANTIDAD DE BOLETOS: 1
VENTA 11
CLAVE: 4 /// CANTIDAD: 1 /// PRECIO: 50.0

CLAVE DE LOCALIDAD: 2
CANTIDAD DE BOLETOS: 11
VENTA 12
CLAVE: 2 /// CANTIDAD: 11 /// PRECIO: 173.8

CLAVE DE LOCALIDAD: 4
CANTIDAD DE BOLETOS: 9
VENTA 13
CLAVE: 4 /// CANTIDAD: 9 /// PRECIO: 450.0

CLAVE DE LOCALIDAD: 5
CANTIDAD DE BOLETOS: 7
VENTA 14
CLAVE: 5 /// CANTIDAD: 7 /// PRECIO: 525.0

CLAVE DE LOCALIDAD: 1
CANTIDAD DE BOLETOS: 23
VENTA 15
CLAVE: 1 /// CANTIDAD: 23 /// PRECIO: 166.75

CLAVE DE LOCALIDAD: 1
CANTIDAD DE BOLETOS: 18
VENTA 16
CLAVE: 1 /// CANTIDAD: 18 /// PRECIO: 130.5

CLAVE DE LOCALIDAD: 3
CANTIDAD DE BOLETOS: 4
VENTA 17
CLAVE: 3 /// CANTIDAD: 4 /// PRECIO: 100.0

CLAVE DE LOCALIDAD: -1
CANTIDAD DE BOLETOS: -1
CANTIDAD DE BOLETOS TIPO 1: 59
CANTIDAD DE BOLETOS TIPO 2: 33
CANTIDAD DE BOLETOS TIPO 3: 26
CANTIDAD DE BOLETOS TIPO 4: 15
CANTIDAD DE BOLETOS TIPO 5: 10

RECAUDACIÓN DEL ESTADIO: 3099.1499999999996

In [38]:
#PROBLEMA 3.15
CL= 0 #Acumula el número de llamadas locales
CUENTA= 0 #Acumula el costo total de la llamadas
COSTO= 0 #Almacena el costo de cada llamada
TIPO= str(input("Tipo de llamada: "))
DUR= int(input("Duración de la llamada: "))

while (TIPO != 'X' and DUR != (-1)):
  if (TIPO == 'I'):
    if (DUR > 3):
      COSTO = 7.59 + ((DUR - 3)*3.03)
    else:
      COSTO = 7.59
  elif (TIPO == 'L'):
    CL +=1
    if (CL > 50):
      COSTO = 0.60
    else:
      COSTO = 0
  elif (TIPO == 'N'):
    if (DUR > 3):
      COSTO = 1.20 + ((DUR - 3)*0.48)
    else:
      COSTO = 1.20
  CUENTA += COSTO
  TIPO= str(input("Tipo de llamada: "))
  DUR= int(input("Duración de la llamada: "))

print(f"CUENTA TOTAL : {CUENTA}")

Tipo de llamada: I
Duración de la llamada: 7
Tipo de llamada: N
Duración de la llamada: 6
Tipo de llamada: N
Duración de la llamada: 12
Tipo de llamada: L
Duración de la llamada: 5
Tipo de llamada: L
Duración de la llamada: 7
Tipo de llamada: N
Duración de la llamada: 16
Tipo de llamada: L
Duración de la llamada: 7
Tipo de llamada: L
Duración de la llamada: 6
Tipo de llamada: L
Duración de la llamada: 4
Tipo de llamada: I
Duración de la llamada: 11
Tipo de llamada: X
Duración de la llamada: -1
CUENTA TOTAL : 67.14

In [83]:
#PROBLEMA 3.16
TIPO1= 0
TIPO2= 0
TIPO3= 0
TIPO4= 0
TIPO5= 0
MCTIPO2 = 0  
AÑO= 0 
TOTVIN = 0 #Acumula el total de vinos producidos en el año
N= int(input("Número de años: "))
i=1
while (i<=N):
  j=1
  TOTVIN= 0
  print(f"\nAÑO {i}")
  while (j<=5):
    V= float(input(f"LITROS DE VINO TIPO {j}: "))
    TOTVIN +=V

    if (j == 1):
      TIPO1 +=V
      #-----------------
    elif (j == 2):
      TIPO2 +=V
      if (V > MCTIPO2):
        MCTIPO2 =V
        AÑO = i
     else:
        j = 2
      #-----------------
    elif (j == 3):
      TIPO3 +=V
      if (V == 0):
        print(f"EL AÑO {i} NO SE PRODUJO VINO TIPO 3")
      else:
        j = 3
      #------------------
    elif (j == 4):
      TIPO4 +=V
      #-------------------
    elif (j == 5):
      TIPO5 +=V
    j +=1
    

  print(f"TOTAL DE LITROS PRODUCIDOS EN EL AÑO {i}: {TOTVIN}")
  i +=1

print(f"\nRESUMEN \nTOTAL TIPO 1: {TIPO1}")
print(f"TOTAL TIPO 2: {TIPO2}")
print(f"TOTAL TIPO 3: {TIPO3}")
print(f"TOTAL TIPO 4: {TIPO4}")
print(f"TOTAL TIPO 5: {TIPO5}")
print(f"\nAño en que se produjo mayor cantidad de vino TIPO 2:  Año {AÑO}")
print(f"------ LITROS: {MCTIPO2}")

Número de años: 4

AÑO 1
LITROS DE VINO TIPO 1: 8878
LITROS DE VINO TIPO 2: 32446
LITROS DE VINO TIPO 3: 3546
LITROS DE VINO TIPO 4: 35467
LITROS DE VINO TIPO 5: 3432
TOTAL DE LITROS PRODUCIDOS EN EL AÑO 1: 83769.0

AÑO 2
LITROS DE VINO TIPO 1: 3577
LITROS DE VINO TIPO 2: 46352
LITROS DE VINO TIPO 3: 0
EL AÑO 2 NO SE PRODUJO VINO TIPO 3
LITROS DE VINO TIPO 4: 354646
LITROS DE VINO TIPO 5: 354657
TOTAL DE LITROS PRODUCIDOS EN EL AÑO 2: 759232.0

AÑO 3
LITROS DE VINO TIPO 1: 3535
LITROS DE VINO TIPO 2: 9433335
LITROS DE VINO TIPO 3: 35465
LITROS DE VINO TIPO 4: 5465
LITROS DE VINO TIPO 5: 54665
TOTAL DE LITROS PRODUCIDOS EN EL AÑO 3: 9532465.0

AÑO 4
LITROS DE VINO TIPO 1: 355
LITROS DE VINO TIPO 2: 35464
LITROS DE VINO TIPO 3: 0
EL AÑO 4 NO SE PRODUJO VINO TIPO 3
LITROS DE VINO TIPO 4: 3755
LITROS DE VINO TIPO 5: 4657
TOTAL DE LITROS PRODUCIDOS EN EL AÑO 4: 44231.0

RESUMEN
TOTAL TIPO 1: 16345.0
TOTAL TIPO 2: 9547597.0
TOTAL TIPO 3: 39011.0
TOTAL TIPO 4: 399333.0
TOTAL TIPO 5: 417411.0

Año en que se produjo mayor cantidad de vino TIPO 2:  Año 3
------ LITROS: 9433335.0

In [78]:
#PROBLEMA 3.16   CON CICLO "FOR"
TIPO1= 0
TIPO2= 0
TIPO3= 0
TIPO4= 0
TIPO5= 0
MCTIPO2 = 0  
AÑO= 0 
TOTVIN = 0 #Acumula el total de vinos producidos en el año
N= int(input("Número de años: "))
i=1
for x in range(N):#while (i<=N):
  j=1
  TOTVIN= 0
  print(f"\nAÑO {i}")
  for x in range(5):#while (j<=5):
    V= float(input(f"LITROS DE VINO TIPO {j}: "))
    TOTVIN +=V
    
    if (j == 1):
      TIPO1 +=V
      
    elif (j == 2):
      TIPO2 +=V
      if (V > MCTIPO2):
        MCTIPO2 =V
        AÑO = i
      else:
        j = 2      
        
    elif (j == 3):
      TIPO3 +=V
      if (V == 0):
        print(f"EL AÑO {i} NO SE PRODUJO VINO TIPO 3")
      else:
        j = 3

    elif (j == 4):
      TIPO4 +=V
      
    elif (j == 5):
      TIPO5 +=V
      
    j +=1
    

  print(f"TOTAL DE LITROS PRODUCIDOS EN EL AÑO {i}: {TOTVIN}")
  i +=1

print(f"\nRESUMEN \nTOTAL TIPO 1: {TIPO1}")
print(f"TOTAL TIPO 2: {TIPO2}")
print(f"TOTAL TIPO 3: {TIPO3}")
print(f"TOTAL TIPO 4: {TIPO4}")
print(f"TOTAL TIPO 5: {TIPO5}")
print(f"\nAño en que se produjo mayor cantidad de vino TIPO 2:  Año {AÑO}")
print(f"------ LITROS: {MCTIPO2}")

Número de años: 4

AÑO 1
LITROS DE VINO TIPO 1: 34234
LITROS DE VINO TIPO 2: 33234
LITROS DE VINO TIPO 3: 24322
LITROS DE VINO TIPO 4: 23231
LITROS DE VINO TIPO 5: 23423
TOTAL DE LITROS PRODUCIDOS EN EL AÑO 1: 138444.0

AÑO 2
LITROS DE VINO TIPO 1: 2234423
LITROS DE VINO TIPO 2: 23244
LITROS DE VINO TIPO 3: 576
LITROS DE VINO TIPO 4: 354657
LITROS DE VINO TIPO 5: 3435657
TOTAL DE LITROS PRODUCIDOS EN EL AÑO 2: 6048557.0

AÑO 3
LITROS DE VINO TIPO 1: 3546
LITROS DE VINO TIPO 2: 8787564
LITROS DE VINO TIPO 3: 0
EL AÑO 3 NO SE PRODUJO VINO TIPO 3
LITROS DE VINO TIPO 4: 3534546
LITROS DE VINO TIPO 5: 433544
TOTAL DE LITROS PRODUCIDOS EN EL AÑO 3: 12759200.0

AÑO 4
LITROS DE VINO TIPO 1: 343546
LITROS DE VINO TIPO 2: 3435454
LITROS DE VINO TIPO 3: 3435
LITROS DE VINO TIPO 4: 35463
LITROS DE VINO TIPO 5: 3546587
TOTAL DE LITROS PRODUCIDOS EN EL AÑO 4: 7364485.0

RESUMEN
TOTAL TIPO 1: 2615749.0
TOTAL TIPO 2: 12279496.0
TOTAL TIPO 3: 28333.0
TOTAL TIPO 4: 3947897.0
TOTAL TIPO 5: 7439211.0

Año en que se produjo mayor cantidad de vino TIPO 2:  Año 3
------ LITROS: 8787564.0

In [106]:
#PROBLEMA 3.17
I= 3 #Contador del ciclo exterior
SP= 0 #Acumula el número de números primos entre 1 hasta M
M= int(input("Límite deseado (número hasta donde se desea evaluar): "))

if (M >=1):
  SP +=1
  print(f"NÚMERO PRIMO {1}")
  if (M >= 2):
    SP +=1
    print(f"NÚMERO PRIMO {2}")
while (I <= M):
  BAND = 'V'
  j = 3
  while (j < (I//2) and BAND == 'V'):
    if ((I % j) == 0):
      BAND = 'F'
      j +=2
    else:
      j +=2
  if (BAND == 'V'):
    print(f"NÚMERO PRIMO {I}")
    SP +=1
    I +=2
  else:
    I +=2
print(f"ENTRE 1 Y {M} HAY --- {SP} --- NÚMEROS PRIMOS")

Límite deseado (número hasta donde se desea evaluar): 11
NÚMERO PRIMO 1
NÚMERO PRIMO 2
NÚMERO PRIMO 3
NÚMERO PRIMO 5
NÚMERO PRIMO 7
NÚMERO PRIMO 11
ENTRE 1 Y 11 HAY --- 6 --- NÚMEROS PRIMOS

In [4]:
#PROBLEMA 3.18
N= 0 #Número de fábricas registradas (N<=1000)
MAYPRO= 0 # Almacena el total de la fábrica que más produjo en el año

N= int(input("Número de fábricas registradas: "))
if (N<=100):
  I= 1
  while (I <= N):
    FABRICA= int(input("\nCLAVE DE FÁBRICA: "))
    TOTANU= 0
    j= 1
    while (j <= 12):
      MES= float(input(f"PRODUCCIÓN EN EL MES {j}: "))
      TOTANU +=MES
      if ((j == 7) and MES > 3000000):
        print(f"LA FÁBRICA {FABRICA}\n-- PRODUJO MÁS DE 3,000,000 EN JULIO")
      j += 1 
    if (TOTANU > MAYPRO):
      MAYPRO = TOTANU #MAYPRO guarda la producción más grande del año
      CLAVE = FABRICA #CLAVE guarda la clave de fábrica que más produjo del año
    print(f"\n PRODUCCIÓN ANUAL DE LA FÁBRICA  {FABRICA}: ${TOTANU}")
    I +=1
  print(f"\nFÁBRICA QUE MÁS PRODUJO EN EL AÑO: {FABRICA}\n-PRODUCCIÓN: ${MAYPRO}")


else:
  print("ERROR EN NÚMERO DE FÁBRICAS")

Número de fábricas registradas: 3

CLAVE DE FÁBRICA: 2020
PRODUCCIÓN EN EL MES 1: 203234
PRODUCCIÓN EN EL MES 2: 3094930
PRODUCCIÓN EN EL MES 3: 8499302
PRODUCCIÓN EN EL MES 4: 849384
PRODUCCIÓN EN EL MES 5: 23232
PRODUCCIÓN EN EL MES 6: 34231
PRODUCCIÓN EN EL MES 7: 232313
PRODUCCIÓN EN EL MES 8: 934839
PRODUCCIÓN EN EL MES 9: 9483920
PRODUCCIÓN EN EL MES 10: 848390
PRODUCCIÓN EN EL MES 11: 923094
PRODUCCIÓN EN EL MES 12: 8493920

 PRODUCCIÓN ANUAL DE LA FÁBRICA  2020: $33620789.0

CLAVE DE FÁBRICA: 2021
PRODUCCIÓN EN EL MES 1: 9328029
PRODUCCIÓN EN EL MES 2: 9328923
PRODUCCIÓN EN EL MES 3: 8484922
PRODUCCIÓN EN EL MES 4: 3234243
PRODUCCIÓN EN EL MES 5: 4384392
PRODUCCIÓN EN EL MES 6: 232423
PRODUCCIÓN EN EL MES 7: 8483922
LA FÁBRICA 2021
-- PRODUJO MÁS DE 3,000,000 EN JULIO
PRODUCCIÓN EN EL MES 8: 94939423
PRODUCCIÓN EN EL MES 9: 9483929
PRODUCCIÓN EN EL MES 10: 3422234
PRODUCCIÓN EN EL MES 11: 85849393
PRODUCCIÓN EN EL MES 12: 939434033

 PRODUCCIÓN ANUAL DE LA FÁBRICA  2021: $1176605866.0

CLAVE DE FÁBRICA: 2022
PRODUCCIÓN EN EL MES 1: 49349393
PRODUCCIÓN EN EL MES 2: 83948393
PRODUCCIÓN EN EL MES 3: 92939494883
PRODUCCIÓN EN EL MES 4: 9484843023
PRODUCCIÓN EN EL MES 5: 884930203
PRODUCCIÓN EN EL MES 6: 934900203
PRODUCCIÓN EN EL MES 7: 8499302342
LA FÁBRICA 2022
-- PRODUJO MÁS DE 3,000,000 EN JULIO
PRODUCCIÓN EN EL MES 8: 848934043
PRODUCCIÓN EN EL MES 9: 849993030
PRODUCCIÓN EN EL MES 10: 9340003494000
PRODUCCIÓN EN EL MES 11: 934034993
PRODUCCIÓN EN EL MES 12: 84832

 PRODUCCIÓN ANUAL DE LA FÁBRICA  2022: $9455513309338.0

FÁBRICA QUE MÁS PRODUJO EN EL AÑO: 2022
-PRODUCCIÓN: $9455513309338.0

In [7]:
#PROBLEMA 3.18 CON CICLO "FOR"
#PROBLEMA 3.18
N= 0 #Número de fábricas registradas (N<=1000)
MAYPRO= 0 # Almacena el total de la fábrica que más produjo en el año

N= int(input("Número de fábricas registradas: "))
if (N<=100):
  
  for i in range(N):
    FABRICA= int(input("\nCLAVE DE FÁBRICA: "))
    TOTANU= 0
    j= 1
    for x in range(12):
      MES= float(input(f"PRODUCCIÓN EN EL MES {j}: "))
      TOTANU +=MES
      if ((j == 7) and MES > 3000000):
        print(f"LA FÁBRICA {FABRICA}\n-- PRODUJO MÁS DE 3,000,000 EN JULIO")
      j += 1 
    if (TOTANU > MAYPRO):
      MAYPRO = TOTANU #MAYPRO guarda la producción más grande del año
      CLAVE = FABRICA #CLAVE guarda la clave de fábrica que más produjo del año
    print(f"\n PRODUCCIÓN ANUAL DE LA FÁBRICA  {FABRICA}: ${TOTANU}")
    
  print(f"\nFÁBRICA QUE MÁS PRODUJO EN EL AÑO: {FABRICA}\n-PRODUCCIÓN: ${MAYPRO}")


else:
  print("ERROR EN NÚMERO DE FÁBRICAS")

Número de fábricas registradas: 2

CLAVE DE FÁBRICA: 232
PRODUCCIÓN EN EL MES 1: 948393
PRODUCCIÓN EN EL MES 2: 847384
PRODUCCIÓN EN EL MES 3: 3728393
PRODUCCIÓN EN EL MES 4: 847832
PRODUCCIÓN EN EL MES 5: 848329
PRODUCCIÓN EN EL MES 6: 83949383
PRODUCCIÓN EN EL MES 7: 838372
PRODUCCIÓN EN EL MES 8: 9302343
PRODUCCIÓN EN EL MES 9: 8372829
PRODUCCIÓN EN EL MES 10: 9384839
PRODUCCIÓN EN EL MES 11: 838392
PRODUCCIÓN EN EL MES 12: 938483

 PRODUCCIÓN ANUAL DE LA FÁBRICA  232: $120844972.0

CLAVE DE FÁBRICA: 332
PRODUCCIÓN EN EL MES 1: 838392
PRODUCCIÓN EN EL MES 2: 93884283
PRODUCCIÓN EN EL MES 3: 93393000333
PRODUCCIÓN EN EL MES 4: 848939493
PRODUCCIÓN EN EL MES 5: 88549859
PRODUCCIÓN EN EL MES 6: 939435
PRODUCCIÓN EN EL MES 7: 3948358359
LA FÁBRICA 332
-- PRODUJO MÁS DE 3,000,000 EN JULIO
PRODUCCIÓN EN EL MES 8: 943858395
PRODUCCIÓN EN EL MES 9: 9848395
PRODUCCIÓN EN EL MES 10: 939244
PRODUCCIÓN EN EL MES 11: 8593495
PRODUCCIÓN EN EL MES 12: 8394934

 PRODUCCIÓN ANUAL DE LA FÁBRICA  332: $99346144617.0

FÁBRICA QUE MÁS PRODUJO EN EL AÑO: 332
-PRODUCCIÓN: $99346144617.0

In [30]:
#PROBLEMA 3.19  NÚMERO PERFECTO
N= int(input("Número a evaluar: "))
I = 1
while (I <= N):
  SUM= 0 #SUM acumula los divisores para comprobar si el número es perfecto
  j = 1
  while (j <= (I // 2)):
    if ((I % j)==0):
      SUM +=j
    j +=1
  if (SUM== I):
    print(f"{I} ES UN NÚMERO PERFECTO")
  I +=1
if (SUM == (I - 1)):
  print("FIN DEL PROGRAMA")
else:
  print(f"{N} NO ES UN NÚMERO PERFECTO")
  print("FIN DEL PROGRAMA")

Número a evaluar: 8129
6 ES UN NÚMERO PERFECTO
28 ES UN NÚMERO PERFECTO
496 ES UN NÚMERO PERFECTO
8128 ES UN NÚMERO PERFECTO
8129 NO ES UN NÚMERO PERFECTO
FIN DEL PROGRAMA