<a href="https://colab.research.google.com/github/Juan-MTG/cyp_2021/blob/main/Tarea3_cyp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#TAREA 3 DE CyP
#PROGRAMA 1.6 (PROBLEMA 1.1) VUELTO_DE_UN_PAGO

#Declaración de variables
PREPRO=0 #Costo del producto
PAGO=0 #Pago
DEVO= 0 #Cambio

#Introducción de información
PREPRO= float(input("COSTO DEL PRODUCTO: "))
PAGO= float(input("PAGO: "))

#Operación para dar el cambio
#NOTA: suponemos que el pago del cliente es mayor que el costo del producto
DEVO= PAGO - PREPRO 

#Impresión del cambio
print("CAMBIO: ",DEVO)

COSTO DEL PRODUCTO: 86.25
PAGO: 100
CAMBIO:  13.75

In [4]:
#PROGRAMA 1.7  (PROBLEMA 1.2) SUPERFICIE_TRIÁNGULO

#Declaración de variables
BASE= 0
ALTU= 0
SUP= 0

#Introducción de valores
BASE= float(input("BASE DEL TRIÁNGULO: "))
ALTU= float(input("ALTURA DEL TRIÁNGULO: "))

#Cálculo de la superficie del triángulo 
SUP= (BASE*ALTU)/2

#Impresión de la superficie
print ("SUPERFICIE DEL TRIÁNGULO: ",SUP)

BASE DEL TRIÁNGULO: 120.60
ALTURA DEL TRIÁNGULO: 85.90
SUPERFICIE DEL TRIÁNGULO:  5179.77

In [9]:
#PROGRAMA 1.8 (PROBLEMA 1.3) DINOSAURIO

#Declaración de variables
NOM=0 #Nombre del dinosaurio
PESO=0 #Peso expresado en toneladas
LON=0 # Longitud expresada en pies
PESK= 0 #Peso expresado en Kilogramos
LONM=0 # Longitud expresada en metros

#Introducción de información
NOM= input("NOMBRE DEL DINOSAURIO: ")
PESO=int (input("PESO DEL DINOSAURIO EN TONELADAS: ")) 
LON=int (input("LONGITUD DEL DINOSAURIO EN PIES: ") )

#Conversión de unidades
#NOTA: La tonelada equivale 1000 kg y El pie equivale a 0.3047 metros

PESK= PESO*1000 #Conversión de toneladas a kilogramos
LONM= LON*0.3047 #Conversión de pies a metros

#Impresión de resultados
print('') #Espacio para que en la impresión no se vea tan amontonado :v
print("NOMBRE: ", NOM)
print("PESO EN KILOGRAMOS: ", PESK)
print("LONGITUD EN METROS", LONM)

NOMBRE DEL DINOSAURIO: BRONTOSAURUS
PESO DEL DINOSAURIO EN TONELADAS: 25
LONGITUD DEL DINOSAURIO EN PIES: 70

NOMBRE:  BRONTOSAURUS
PESO EN KILOGRAMOS:  25000
LONGITUD EN METROS 21.329

In [11]:
#PROGRAMA 1.9 (PROBLEMA 1.4) GASOLINERIA

#Declaración de variables
GAL=0
TOTAL=0

#Lectura del núero de galones
GAL= float (input("Número de galones de gasolina: "))

#Conversión al precio al cliente
#Nota: Cada galón tiene 3.785 L
#Nota: El precio del litro es 8.20 pesos (bueno fuera :,v)

TOTAL= (GAL*3.785)*8.20

#Impresión del precio al cliente
print("TOTAL A PAGAR: ", TOTAL)

Número de galones de gasolina: 19.90
TOTAL A PAGAR:  617.6363

In [12]:
#PROGRAMA 1.10 (PROBLEMA 1.5) CÍRCULO_SUP_VOL

#Declaración de variables
RADIO=0 #Radio del cilindro
ALTU=0 # Altura del cilindro
VOL=0 #Volumen del cilindro
AREA=0 #Área del cilindro

#Introducción de valores
RADIO= float(input("RADIO DEL CILINDRO: "))
ALTU= float(input("ALTURA DEL CILINDRO: "))

#Cálculo del volumen y el área 
"""NOTA: El volumen se encuentra multiplicando "pi" por 
el radio al cuadrado por la altura"""
"""NOTA: El área se encuentra multiplicando "2"por "pi" por 
el radio por la altura"""
VOL= 3.141592*(RADIO**2)*ALTU
AREA= 2*3.141592*RADIO*ALTU

#Impresión de resultados
print("VOLUMEN: ",VOL)
print("ÁREA: ",AREA)

RADIO DEL CILINDRO: 125.30
ALTURA DEL CILINDRO: 117.40
VOLUMEN:  5790552.7366210725
ÁREA:  92427.01894048002

In [14]:
#PROGRAMA 1.11 (PROBLEMA 1.6) SEGUNDOS_EN_DIAS

#Declaración de variables
DIAS= 0 # Número de días
SEG=0 #Número de segundos

#Introducción de valores
DIAS=int(input("DIAS: "))

#Cálculo de los segundos
#NOTA: el número de segundos en un día es de 86400 segundos
SEG= DIAS*86400

#Impresión de resultados
print("Número de segundos: ",SEG)

DIAS: 116
Número de segundos:  10022400